.houseListing {
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid grey;
}

.houseImage img {
  width: 100%;
}

.housePrice {
  font-size: 48px;
  margin: 5px;
}

.houseAddress {
  font-size: 32px;
  margin: 5px;
}

.houseOwner {
  font-size: 18px;
  margin: 10px;
}