.houseListing {
  list-style: none;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 20px 0 20px 0;
}

.houseImage img {
  height: 400px;
}

.housePrice {
  font-size: 32px;
  margin: 5px;
}

.houseAddress {
  font-size: 24px;
  margin: 5px;
}

.houseOwner {
  font-size: 18px;
  margin-top: 5px;
}

@media (max-width: 700px) {
  .houseListing {
    padding: 0;
  }

  .houseImage img {
    width: 100%;
  }
  
  .housePrice {
    font-size: 32px;
    margin: 5px;
  }
  
  .houseAddress {
    font-size: 18px;
    margin: 5px;
  }
  
  .houseOwner {
    font-size: 12px;
    margin: 10px;
  }
}